table th{
    background-color: rgb(65, 68, 231);
    color: white;
}
h1{
    text-align: center;
}
body{
    background-color: rgb(228, 219, 219);
}
table{
    width: 100%;
}
td{
    text-align: center;
}
.dong_02{
    background-color: white;
}