body {
    background-color: black;
}
table td {
    color: white;
    font-size: 40px;
}
img {
    width: 300px;
    height: 300px;
    margin-top: 2px;
}
p {
    color: green;
    text-decoration: underline dotted skyblue;
    font-size: 40px;
}